*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*TXT*/
h1{
    font-size: 36px;
    font-weight: 600;
}


p{
    color:#777;
    font-size : 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/*NAV*/



nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between; 
}

/* Lien */

nav img{
    width:3em;
    margin: 0;
    padding: 0;
}

.lien-header1{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    margin-top: 0;
    position: relative;
    color: #eeebeb;
    text-decoration: none;
    font-size: 1.8em;}

.lien-header1::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#AF3447 ; 
    display: block;
    margin: auto;
    transition: 0.5s;
}

.lien-header1:hover:after{
    width: 100%;
}


/* Lien droit */
.nav-lien{
    flex: 1;
    text-align: right;
}

.nav-lien li {
    list-style: none;
    display: inline-block;
    padding:  0 0.5% 4% 1%;
    position: relative;
}


.nav-lien a{
    color: #eeebeb;
    text-decoration: none;
    font-size: 1.8em;

}
.nav-lien li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#AF3447 ; 
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-lien ul li:hover::after{
    width: 100%;

}

/* FOOTER */
HR{
    background-color: #e43d5a;
    width: 45%;
    margin: auto;
    height: 0.25em;
    margin-bottom: 2em;
    border: none; 
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background: #f5f5f7;
}

.etu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0 20%;
}

.legal{
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    padding: 0 30%;
    margin: 0.5% 0 0 0;
}

